<h3><i class="fa-brands fa-envira"></i> TerpNode</h3>
<div class="section">
    <p class="lead">Create and log posts about your favorite cannabis strains!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>